@{
    ViewBag.Title = "Home Page";
}
<!--Additional Bootstrap Element 2: Carousel of Images running on a timer. Images not the best but just to show functionality-->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img class="img-responsive" src="~/Content/mainpage.jpg" />
            <div class="carousel-caption">
                <h3>ProCloset</h3>
                <p>Simple, Sleek, Elegant Online Closet Tool</p>
            </div>
        </div>

        <div class="item">
            <img class="img-responsive" src="~/Content/accessories.jpg" />
            <div class="carousel-caption">
                <h3>Accessories</h3>
                <p>Store your accessories to mix and match with outfits.</p>
            </div>
        </div>

        <div class="item">
            <img class="img-responsive" src="~/Content/shirtsmain.jpg" />
            <div class="carousel-caption">
                <h3>Shirts</h3>
                <p>Keep Track of all of your shirts.</p>
            </div>
        </div>

        <div class="item">
            <img class="img-responsive" src="~/Content/bottoms.jpg" />
            <div class="carousel-caption">
                <h3>Pants</h3>
                <p>No need to dig through your drawer to find pants here.</p>
            </div>
        </div>

        <div class="item">
            <img class="img-responsive" src="~/Content/Shoes.jpg" />
            <div class="carousel-caption">
                <h3>Shoes</h3>
                <p>All your shoes in one place, just upload a photo!</p>
            </div>
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<!--Javascript syntax for adding a timer to a carousel courtesy of W3C-->
<script>
    $(document).ready(function () {
        // Activate Carousel
        $("#myCarousel").carousel({ interval: 1000 }); //Timer

        // Enable Carousel Indicators
        $(".item1").click(function () {
            $("#myCarousel").carousel(0);
        });
        $(".item2").click(function () {
            $("#myCarousel").carousel(1);
        });
        $(".item3").click(function () {
            $("#myCarousel").carousel(2);
        });
        $(".item4").click(function () {
            $("#myCarousel").carousel(3);
        });

        // Enable Carousel Controls
        $(".left").click(function () {
            $("#myCarousel").carousel("prev");
        });
        $(".right").click(function () {
            $("#myCarousel").carousel("next");
        });
    });
</script>
<!--Container that has a Grid of Images and Links to the four main types of clothing-->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="thumbnail top-image">
                <!--Tops Link and Grid-->
                <div class="newheader">
                    <h2>Tops</h2>
                    <div class="caption">
                        <button type="button">@Html.ActionLink("Go!", "Index", "Tops")</button>
                    </div>
                    </div>
                </div>
        </div>
        <div class="col-md-6">
            <div class="thumbnail bottom-image">
                <!--Bottoms Link and Grid-->
                <div class="newheader">
                    <h2>Bottoms</h2>
                    <div class="caption">
                        <button type="button">@Html.ActionLink("Go!", "Index", "Bottoms")</button>
                    </div>
                    </div>
                </div>
        </div>
        <div class="col-md-6">
            <div class="thumbnail shoe-image">
                <!--Shoes Link and Grid-->
                <div class="newheader">
                    <h2>Shoes</h2>
                    <div class="caption">
                        <button type="button">@Html.ActionLink("Go!", "Index", "Shoes")</button>
                    </div>
                    </div>
                    </div>
        </div>
        <div class="col-md-6">
            <div class="thumbnail access-image">
                <!--Accessories Link and Grid-->
                <div class="newheader">
                    <h2>Accessories</h2>
                    <div class="caption">
                        <button type="button">@Html.ActionLink("Go!", "Index", "Accessories")</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>  